@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  transition: ease-in-out 0.7s;
}

::selection{
  color: white;
  background: blue;
  transition: ease-in-out 0.7s;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  transition: ease-in-out 0.7s;
}
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  transition: ease-in-out 0.7s;
}
.back {
  background: linear-gradient(#ff5f6d, #ffc371);
}
.card {
  width: 70vh;
  height: 50vh;
  margin: 1em;
  perspective: 1500px;
  transition: ease-in-out 0.7s;
}
@media screen {
    @media (max-height: 667){
      .card{
        height: 50vh;
      }
    }
}
.card .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  transition: ease-in-out 0.7s;
}
.more {
  display: none;
  transition: ease-in-out 0.7s;
}
.more:checked ~ .content {
  transform: rotateY(180deg);
  transition: ease-in-out 0.7s;
}
.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: radial-gradient(#00f7ff,#006eff);
  transition: ease-in-out 0.7s;
}
.front .inner, .back .inner {
  height: 100%;
  width: auto;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
  transition: ease-in-out 0.7s;
}
.front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  /* background: linear-gradient(#36d1dc, #5b86e5); */
  background: linear-gradient(#000046, #1cb5e0);
  transition: ease-in-out 0.7s;
}
.front:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  backface-visibility: hidden;
  /* background: linear-gradient(40deg, rgba(67, 138, 243, 0.7), rgba(255, 242, 166, 0.7)); */
  background: linear-gradient(40deg, #00f7ff,#006eff);
  transition: ease-in-out 0.7s;
}
.front .inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
  transition: ease-in-out 0.7s;
}
.back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid #f0f0f0;
  background: radial-gradient(#00f7ff,#006eff);
  transition: ease-in-out 0.7s;
}
.back .inner {
  grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 0.8em;
  justify-items: center;
  transition: ease-in-out 0.7s;
}
.back .info {
  position: relative;
  display: flex;
  align-items: center;
  color: #355cc9;
  grid-row: 3;
  transition: ease-in-out 0.7s;
}
.back .info:not(:first-of-type):before {
  content: '';
  position: absolute;
  left: -0.9em;
  height: 18px;
  width: 1px;
  background-color: #ccc;
  transition: ease-in-out 0.7s;
}
.back .button {
  grid-column: 1;
  justify-self: center;
  align-items: center;
  margin: auto;
  transition: ease-in-out 0.7s;
}
.button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  color: black;
  transition: ease-in-out 0.7s;
}
.button:hover {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: #355cc9;
  transition: ease-in-out 0.7s;
}
.button.return {
  line-height: 3em;
  color: #355cc9;
  border-color: #355cc9;
  text-shadow: none;
  transition: ease-in-out 0.7s;
}
.button.return:hover {
  background-color: #355cc9;
  color: #fff;
  box-shadow: none;
  transition: ease-in-out 0.7s;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #859ddf;
}
::-webkit-scrollbar-thumb:hover {
  background: #355cc9;
}

.hide {
  display: none;
  transition: ease-in-out 0.7s;
}

.next-btn {
  padding: 80%;
  text-decoration: none;
  transition: ease-in-out 0.7s;
}

.inner {
  width: 50%;
  height: 50%;
  margin: 0px;
  margin-left: auto;
  transition: ease-in-out 0.7s;
}

header {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: linear-gradient(#7bfae3, #4b6cff);
  transition: ease-in-out 0.7s;
}

body{
  background: linear-gradient(#c1b3ff, hsl(230, 100%, 70%));
  transition: ease-in-out 0.7s;
}

#start-button{
  text-decoration: none;
  color: black;
  font-size: medium;
  font-family: "Raleway", sans-serif;
  transition: ease-in-out 0.7s;
}

header:first-child{
  font-size: larger;
  transition: ease-in-out 0.7s;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}